* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

.header img {
    height:  40px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-weight: 500;
}